body{

	font-family: arial ;
	font-size: 14px;
	color:#666;
	background-color: #eceff1;
}

#banner{
	background-image:url('../image/banner-background.jpg');

	height: 400px;

	width: 100%;
}

.banner-title{

	font-size: 45px;
	color: #fff;
	font-weight: bolder;

}

.value-title{
	font-size: 18px;
	color: #000;
	text-transform: capitalize;
	font-weight: bolder;
}
.big-title{

	font-size: 24px;
	color: #000;
	text-transform: capitalize;
	font-weight: bolder;
}
.nav {

	border-radius:0px !important; 
	border-width:0px !important; 
	padding: 0px;
	/*height:20px;*/

	color:red !important;
}
.nav-font{

	
	font-size: 16px;
	font-weight: bolder;
	
}
.nav-item:hover{

	color: #2196f3 !important;
}

.hover-blue:hover{
	color: #fff !important;
	background-color: #2196f3 !important;

}

.hover-pink:hover{
	color: #fff !important;
	background-color: #d81b60 !important;
}

.container-padding{

	padding: 20px;
}

.container-margin{

	margin: 10px;
}

.text-small{

	font-size: 12px;
}

.div-item-blue:hover{
 	
 	background-color: #d81b60 !important; 
 	color:#fff !important;

}


.div-video{

	height: 400px;
}

.margin-bottom{
	margin-bottom: 20px;
}

.list-categorie{
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 10px;
	border-color: #bbb;
	border-width: 0px;
	
	

}

.list-categorie a{

	padding:5px 3px 5px 3px; 
	color: #bbb;
}
.list-categorie a:hover{
	
	color:#fff ;
	text-decoration: none;
}

.list-categorie:hover{
	background-color: #2196f3 ;
	color:#fff ;
	text-decoration: none;
}
.ul-categorie{

	margin: 0px;
	margin-left: -30px;
	
	padding: 0px;
	padding-left: -50px;


}